# Base de datos de ejemplo.

Este libro de trabajo permite generar una base de datos, con contenido de ejemplo, tomados desde Our World In Data, relacionados con la información global acerca de la pandemia de COVID-19.

## Importación de datos desde Our World in Data

Descargar el archivo desde esta url. [https://covid.ourworldindata.org/data/owid-covid-data.csv](https://covid.ourworldindata.org/data/owid-covid-data.csv)  

La estructura de los datos está descripta en: [https://github.com/owid/covid-19-data/blob/master/public/data/owid-covid-data.csv](https://github.com/owid/covid-19-data/blob/master/public/data/owid-covid-data.csv)

## Creación de una base de datos vacía.

In [132]:
use master 
GO
Create database [Owin Covid DemosDB]
GO
USE [Owin Covid DemosDB]
GO

## Crear una tabla para importar los datos crudos.

In [133]:

CREATE TABLE [OwidCovid.Raw](
	[iso_code] [nvarchar](max) NULL,
	[continent] [nvarchar](max) NULL,
	[location] [nvarchar](max) NULL,
	[date] [nvarchar](max) NULL,
	[total_cases] [nvarchar](max) NULL,
	[new_cases] [nvarchar](max) NULL,
	[new_cases_smoothed] [nvarchar](max) NULL,
	[total_deaths] [nvarchar](max) NULL,
	[new_deaths] [nvarchar](max) NULL,
	[new_deaths_smoothed] [nvarchar](max) NULL,
	[total_cases_per_million] [nvarchar](max) NULL,
	[new_cases_per_million] [nvarchar](max) NULL,
	[new_cases_smoothed_per_million] [nvarchar](max) NULL,
	[total_deaths_per_million] [nvarchar](max) NULL,
	[new_deaths_per_million] [nvarchar](max) NULL,
	[new_deaths_smoothed_per_million] [nvarchar](max) NULL,
	[reproduction_rate] [nvarchar](max) NULL,
	[icu_patients] [nvarchar](max) NULL,
	[icu_patients_per_million] [nvarchar](max) NULL,
	[hosp_patients] [nvarchar](max) NULL,
	[hosp_patients_per_million] [nvarchar](max) NULL,
	[weekly_icu_admissions] [nvarchar](max) NULL,
	[weekly_icu_admissions_per_million] [nvarchar](max) NULL,
	[weekly_hosp_admissions] [nvarchar](max) NULL,
	[weekly_hosp_admissions_per_million] [nvarchar](max) NULL,
	[new_tests] [nvarchar](max) NULL,
	[total_tests] [nvarchar](max) NULL,
	[total_tests_per_thousand] [nvarchar](max) NULL,
	[new_tests_per_thousand] [nvarchar](max) NULL,
	[new_tests_smoothed] [nvarchar](max) NULL,
	[new_tests_smoothed_per_thousand] [nvarchar](max) NULL,
	[positive_rate] [nvarchar](max) NULL,
	[tests_per_case] [nvarchar](max) NULL,
	[tests_units] [nvarchar](max) NULL,
	[total_vaccinations] [nvarchar](max) NULL,
	[people_vaccinated] [nvarchar](max) NULL,
	[people_fully_vaccinated] [nvarchar](max) NULL,
	[new_vaccinations] [nvarchar](max) NULL,
	[new_vaccinations_smoothed] [nvarchar](max) NULL,
	[total_vaccinations_per_hundred] [nvarchar](max) NULL,
	[people_vaccinated_per_hundred] [nvarchar](max) NULL,
	[people_fully_vaccinated_per_hundred] [nvarchar](max) NULL,
	[new_vaccinations_smoothed_per_million] [nvarchar](max) NULL,
	[stringency_index] [nvarchar](max) NULL,
	[population] [nvarchar](max) NULL,
	[population_density] [nvarchar](max) NULL,
	[median_age] [nvarchar](max) NULL,
	[aged_65_older] [nvarchar](max) NULL,
	[aged_70_older] [nvarchar](max) NULL,
	[gdp_per_capita] [nvarchar](max) NULL,
	[extreme_poverty] [nvarchar](max) NULL,
	[cardiovasc_death_rate] [nvarchar](max) NULL,
	[diabetes_prevalence] [nvarchar](max) NULL,
	[female_smokers] [nvarchar](max) NULL,
	[male_smokers] [nvarchar](max) NULL,
	[handwashing_facilities] [nvarchar](max) NULL,
	[hospital_beds_per_thousand] [nvarchar](max) NULL,
	[life_expectancy] [nvarchar](max) NULL,
	[human_development_index] [nvarchar](max) NULL,
	[excess_mortality] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

## Crear una tabla intermedia de datos con tipos de datos convertidos

In [134]:

CREATE TABLE [dbo].[OwidCovid.Source](
	[iso_code] [nvarchar](10) NULL,
	[continent] [nvarchar](50) NULL,
	[location] [nvarchar](150) NULL,
	[date] [smalldatetime] NOT NULL,
	[total_cases] [int] NULL,
	[new_cases] [int] NULL,
	[new_cases_smoothed] [decimal](18, 4) NULL,
	[total_deaths] [int] NULL,
	[new_deaths] [int] NULL,
	[new_deaths_smoothed] [decimal](18, 4) NULL,
	[total_cases_per_million] [decimal](18, 4) NULL,
	[new_cases_per_million] [decimal](18, 4) NULL,
	[new_cases_smoothed_per_million] [decimal](18, 4) NULL,
	[total_deaths_per_million] [decimal](18, 4) NULL,
	[new_deaths_per_million] [decimal](18, 4) NULL,
	[new_deaths_smoothed_per_million] [decimal](18, 4) NULL,
	[reproduction_rate] [decimal](18, 4) NULL,
	[icu_patients] [decimal](18, 4) NULL,
	[icu_patients_per_million] [decimal](18, 4) NULL,
	[hosp_patients] [decimal](18, 4) NULL,
	[hosp_patients_per_million] [decimal](18, 4) NULL,
	[weekly_icu_admissions] [decimal](18, 4) NULL,
	[weekly_icu_admissions_per_million] [decimal](18, 4) NULL,
	[weekly_hosp_admissions] [decimal](18, 4) NULL,
	[weekly_hosp_admissions_per_million] [decimal](18, 4) NULL,
	[new_tests] [decimal](18, 4) NULL,
	[total_tests] [decimal](18, 4) NULL,
	[total_tests_per_thousand] [decimal](18, 4) NULL,
	[new_tests_per_thousand] [decimal](18, 4) NULL,
	[new_tests_smoothed] [decimal](18, 4) NULL,
	[new_tests_smoothed_per_thousand] [decimal](18, 4) NULL,
	[positive_rate] [decimal](18, 4) NULL,
	[tests_per_case] [decimal](18, 4) NULL,
	[tests_units] [nvarchar](max) NULL,
	[total_vaccinations] [bigint] NULL,
	[people_vaccinated] [bigint] NULL,
	[people_fully_vaccinated] [bigint] NULL,
	[new_vaccinations] [decimal](18, 4) NULL,
	[new_vaccinations_smoothed] [decimal](18, 4) NULL,
	[total_vaccinations_per_hundred] [decimal](18, 4) NULL,
	[people_vaccinated_per_hundred] [decimal](18, 4) NULL,
	[people_fully_vaccinated_per_hundred] [decimal](18, 4) NULL,
	[new_vaccinations_smoothed_per_million] [decimal](18, 4) NULL,
	[stringency_index] [decimal](18, 4) NULL,
	[population] [bigint] NULL,
	[population_density] [decimal](18, 4) NULL,
	[median_age] [decimal](18, 4) NULL,
	[aged_65_older] [decimal](18, 4) NULL,
	[aged_70_older] [decimal](18, 4) NULL,
	[gdp_per_capita] [decimal](18, 4) NULL,
	[extreme_poverty] [decimal](18, 4) NULL,
	[cardiovasc_death_rate] [decimal](18, 4) NULL,
	[diabetes_prevalence] [decimal](18, 4) NULL,
	[female_smokers] [decimal](18, 4) NULL,
	[male_smokers] [decimal](18, 4) NULL,
	[handwashing_facilities] [decimal](18, 4) NULL,
	[hospital_beds_per_thousand] [decimal](18, 4) NULL,
	[life_expectancy] [decimal](18, 4) NULL,
	[human_development_index] [decimal](18, 4) NULL,
	[excess_mortality] [decimal](18, 4) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

## Importar los datos desde el achivo CSV.

In [135]:
TRUNCATE TABLE [dbo].[OwidCovid.Raw];
-- Cambiar el origen del archivo al que corresponda en su equipo Change the source file path to your computer path

BULK INSERT [dbo].[OwidCovid.Raw] FROM '/tmp/owid-covid-data.csv' WITH(FIRSTROW = 2, FORMAT = 'CSV');

## Copiar los datos a la tabla source, convirtiendo tipos de datos

In [136]:
INSERT INTO [dbo].[OwidCovid.Source]
       SELECT 
           [iso_code]
         , [continent]
         , [location]
         , CONVERT(SMALLDATETIME, [date])
         , CONVERT(INT, CAST([total_cases] AS DECIMAL))
         , CONVERT(INT, CAST([new_cases] AS DECIMAL))
         , CAST([new_cases_smoothed] AS DECIMAL)
         , CONVERT(INT, CAST([total_deaths] AS DECIMAL))
         , CONVERT(INT, CAST([new_deaths] AS DECIMAL))
         , CAST([new_deaths_smoothed] AS DECIMAL)
         , CAST([total_cases_per_million] AS DECIMAL)
         , CAST([new_cases_per_million] AS DECIMAL)
         , CAST([new_cases_smoothed_per_million] AS DECIMAL)
         , CAST([total_deaths_per_million] AS DECIMAL)
         , CAST([new_deaths_per_million] AS DECIMAL)
         , CAST([new_deaths_smoothed_per_million] AS DECIMAL)
         , CAST([reproduction_rate] AS DECIMAL)
         , CAST([icu_patients] AS DECIMAL)
         , CAST([icu_patients_per_million] AS DECIMAL)
         , CAST([hosp_patients] AS DECIMAL)
         , CAST([hosp_patients_per_million] AS DECIMAL)
         , CAST([weekly_icu_admissions] AS DECIMAL)
         , CAST([weekly_icu_admissions_per_million] AS DECIMAL)
         , CAST([weekly_hosp_admissions] AS DECIMAL)
         , CAST([weekly_hosp_admissions_per_million] AS DECIMAL)
         , CONVERT(INT, CAST([new_tests] AS DECIMAL))
         , CONVERT(INT, CAST([total_tests] AS DECIMAL))
         , CAST([total_tests_per_thousand] AS DECIMAL)
         , CAST([new_tests_per_thousand] AS DECIMAL)
         , CAST([new_tests_smoothed] AS DECIMAL)
         , CAST([new_tests_smoothed_per_thousand] AS DECIMAL)
         , CAST([positive_rate] AS DECIMAL)
         , CAST([tests_per_case] AS DECIMAL)
         , [tests_units]
         , CONVERT(BIGINT, CAST([total_vaccinations] AS DECIMAL))
         , CONVERT(BIGINT, CAST([people_vaccinated] AS DECIMAL))
         , CONVERT(BIGINT, CAST([people_fully_vaccinated] AS DECIMAL))
         , CONVERT(INT, CAST([new_vaccinations] AS DECIMAL))
         , CAST([new_vaccinations_smoothed] AS DECIMAL)
         , CAST([total_vaccinations_per_hundred] AS DECIMAL)
         , CAST([people_vaccinated_per_hundred] AS DECIMAL)
         , CAST([people_fully_vaccinated_per_hundred] AS DECIMAL)
         , CAST([new_vaccinations_smoothed_per_million] AS DECIMAL)
         , CAST([stringency_index] AS DECIMAL)
         , CONVERT(BIGINT, CAST([population] AS DECIMAL))
         , CAST([population_density] AS DECIMAL)
         , CAST([median_age] AS DECIMAL)
         , CAST([aged_65_older] AS DECIMAL)
         , CAST([aged_70_older] AS DECIMAL)
         , CAST([gdp_per_capita] AS DECIMAL)
         , CAST([extreme_poverty] AS DECIMAL)
         , CAST([cardiovasc_death_rate] AS DECIMAL)
         , CAST([diabetes_prevalence] AS DECIMAL)
         , CAST([female_smokers] AS DECIMAL)
         , CAST([male_smokers] AS DECIMAL)
         , CAST([handwashing_facilities] AS DECIMAL)
         , CAST([hospital_beds_per_thousand] AS DECIMAL)
         , CAST([life_expectancy] AS DECIMAL)
         , CAST([human_development_index] AS DECIMAL)
         , CAST([excess_mortality] AS DECIMAL)
       FROM 
          [dbo].[OwidCovid.Raw];

## Crea la tabla Continents para los nombres de los continentes.

In [137]:
CREATE TABLE [dbo].[Continents]
 (
   [Id]         [INT] IDENTITY(1, 1) NOT NULL
 , [Continent]  [NVARCHAR](50) NOT NULL
 , CONSTRAINT [PK_Continents] PRIMARY KEY CLUSTERED([Id] ASC)
);

## Asigna los nombres de continentes faltantes.

En las entradas que corresponden a total de continente, el nombre del continente está en la columna location.

In [138]:
UPDATE       [OwidCovid.Source]
SET                continent = location
WHERE        (continent IS NULL)

## Obtiene los diferentes nombres de los continentes y agrega los correspondientes registros en la tabla

In [139]:
/*
La columna 'continent' tiene valor nulo cuando es un total
The 'continent' column as null value when it is a total
*/

INSERT INTO [dbo].[Continents]
 (
    [Continent]
 )
       SELECT 
           ISNULL([continent], 'World') AS [Continent]
       FROM 
          [OwidCovid.Source]
       GROUP BY 
           [continent];

## Agregamos una columna de identificador de Continente a la tabla de datos.

In [140]:
ALTER TABLE [dbo].[OwidCovid.Source]
ADD 
    [ContinentId]  INT NOT NULL
                       DEFAULT 0;
GO

## Asigna los valores de identificadores de continente a la tabla de datos.

In [141]:
UPDATE [OwidCovid.Source]
  SET 
      [ContinentId] = [Continents].[Id]
FROM [OwidCovid.Source]
     INNER JOIN
       [Continents]
     ON [OwidCovid.Source].[continent] = [Continents].[Continent];

## Remueve la columna Continent, para usar siempre la tabla Continent.

In [142]:
ALTER TABLE [dbo].[OwidCovid.Source] DROP COLUMN [continent];
GO

## Crear tabla Países.

Repetir los anteriores pasos, pero para crear una tabla de países y asignar los Id correspondientes.

In [143]:
CREATE TABLE [dbo].[Countries]
 (
   [Id]       [INT] IDENTITY(1, 1) NOT NULL
 , [Country]  [NVARCHAR](50) NOT NULL
 , CONSTRAINT [PK_Countries] PRIMARY KEY CLUSTERED([Id] ASC)
);
GO

/* 
	El campo iso_code contiene valores que comienzan con 'OWID_' para datos globales.
	Iso_code column starts with 'OWID_' when the row belogs to a summary
*/

INSERT INTO [dbo].[Countries]
 (
    [Country]
 )
       SELECT 
           [location]
       FROM 
          [OwidCovid.Source]
       WHERE(NOT([iso_code] LIKE N'OWID_%'))
            OR ([iso_code] IS NULL)
       GROUP BY 
           [location];
GO

ALTER TABLE [dbo].[OwidCovid.Source]
ADD 
    [CountriesId]  INT NOT NULL
                       DEFAULT 0;
GO

UPDATE [OwidCovid.Source]
  SET 
      [CountriesId] = [id]
FROM [OwidCovid.Source]
     INNER JOIN
       [Countries]
     ON [OwidCovid.Source].[location] = [Countries].[Country];

ALTER TABLE [dbo].[OwidCovid.Source] DROP COLUMN [location];
GO

## Obtener los datos demograficos globales, que no varían día a día, en la tabla **OwidCountriesData**

In [144]:
SELECT DISTINCT 
    [ContinentId]
  , [CountriesId]
  , MAX([total_cases]) AS [total_cases]
  , MAX([total_deaths]) AS [total_deaths]
  , MAX([total_cases_per_million]) AS [total_cases_per_million]
  , MAX([total_deaths_per_million]) AS [total_deaths_per_million]
  , MAX([reproduction_rate]) AS [reproduction_rate]
  , MAX([icu_patients]) AS [icu_patients]
  , MAX([icu_patients_per_million]) AS [icu_patients_per_million]
  , MAX([hosp_patients]) AS [hosp_patients]
  , MAX([hosp_patients_per_million]) AS [hosp_patients_per_million]
  , MAX([weekly_icu_admissions]) AS [weekly_icu_admissions]
  , MAX([weekly_icu_admissions_per_million]) AS [weekly_icu_admissions_per_million]
  , MAX([weekly_hosp_admissions]) AS [weekly_hosp_admissions]
  , MAX([weekly_hosp_admissions_per_million]) AS [weekly_hosp_admissions_per_million]
  , MAX([new_tests]) AS [new_tests]
  , MAX([total_tests]) AS [total_tests]
  , MAX([total_tests_per_thousand]) AS [total_tests_per_thousand]
  , MAX([new_tests_per_thousand]) AS [new_tests_per_thousand]
  , MAX([new_tests_smoothed]) AS [new_tests_smoothed]
  , MAX([new_tests_smoothed_per_thousand]) AS [new_tests_smoothed_per_thousand]
  , MAX([positive_rate]) AS [positive_rate]
  , MAX([total_vaccinations]) AS [total_vaccinations]
  , MAX([people_vaccinated]) AS [people_vaccinated]
  , MAX([people_fully_vaccinated]) AS [people_fully_vaccinated]
  , MAX([total_vaccinations_per_hundred]) AS [total_vaccinations_per_hundred]
  , MAX([people_vaccinated_per_hundred]) AS [people_vaccinated_per_hundred]
  , MAX([people_fully_vaccinated_per_hundred]) AS [people_fully_vaccinated_per_hundred]
  , MAX([stringency_index]) AS [stringency_index]
  , MAX([population]) AS [population]
  , MAX([population_density]) AS [population_density]
  , MAX([median_age]) AS [median_age]
  , MAX([aged_65_older]) AS [aged_65_older]
  , MAX([aged_70_older]) AS [aged_70_older]
  , MAX([gdp_per_capita]) AS [gdp_per_capita]
  , MAX([extreme_poverty]) AS [extreme_poverty]
  , MAX([cardiovasc_death_rate]) AS [cardiovasc_death_rate]
  , MAX([diabetes_prevalence]) AS [diabetes_prevalence]
  , MAX([female_smokers]) AS [female_smokers]
  , MAX([male_smokers]) AS [male_smokers]
  , MAX([handwashing_facilities]) AS [handwashing_facilities]
  , MAX([hospital_beds_per_thousand]) AS [hospital_beds_per_thousand]
  , MAX([life_expectancy]) AS [life_expectancy]
  , MAX([human_development_index]) AS [human_development_index]
  , MAX([excess_mortality]) AS [excess_mortality]
INTO 
    [OwidCountriesData]
FROM 
   [OwidCovid.Source]
GROUP BY 
    [ContinentId]
  , [CountriesId];

## Exportamos a la tabla , **Owid Covid Data**, los datos diarios de casos y vacunaciones COVID

In [145]:
SELECT 
    [ContinentId]
  , [CountriesId]
  , date
  , [total_cases]
  , [new_cases]
  , [new_cases_smoothed]
  , [total_deaths]
  , [new_deaths]
  , [new_deaths_smoothed]
  , [total_cases_per_million]
  , [new_cases_per_million]
  , [new_cases_smoothed_per_million]
  , [total_deaths_per_million]
  , [new_deaths_per_million]
  , [new_deaths_smoothed_per_million]
  , [icu_patients]
  , [icu_patients_per_million]
  , [hosp_patients]
  , [hosp_patients_per_million]
  , [weekly_icu_admissions]
  , [weekly_icu_admissions_per_million]
  , [weekly_hosp_admissions]
  , [weekly_hosp_admissions_per_million]
  , [new_tests]
  , [total_tests]
  , [total_tests_per_thousand]
  , [new_tests_per_thousand]
  , [new_tests_smoothed]
  , [new_tests_smoothed_per_thousand]
  , [positive_rate]
  , [tests_per_case]
  , [tests_units]
  , [total_vaccinations]
  , [people_vaccinated]
  , [people_fully_vaccinated]
  , [new_vaccinations]
  , [new_vaccinations_smoothed]
  , [total_vaccinations_per_hundred]
  , [people_vaccinated_per_hundred]
  , [people_fully_vaccinated_per_hundred]
  , [new_vaccinations_smoothed_per_million]
INTO 
    [Owid Covid Data]
FROM 
   [OwidCovid.Source];

## Quitar los totales parciales por continente, dado que no están todos

In [146]:
DELETE 
FROM            OwidCountriesData
WHERE        (CountriesId IS NULL)

## Quitar las tablas intermedias de procesamiento

In [147]:
IF EXISTS
(
    SELECT 
        *
    FROM 
       [sys].[objects]
    WHERE object_id = OBJECT_ID(N'[dbo].[OwidCovid.Raw]')
          AND [type] IN(N'U')
)
  BEGIN
    DROP TABLE [dbo].[OwidCovid.Raw]
  END;
GO

IF EXISTS
(
    SELECT 
        *
    FROM 
       [sys].[objects]
    WHERE object_id = OBJECT_ID(N'[dbo].[OwidCovid.Source]')
          AND [type] IN(N'U')
)
  BEGIN
    DROP TABLE [dbo].[OwidCovid.Source]
  END;
GO

Quitar datos de paises y continentes no identificados (corresponden a datos totalizados)

In [148]:
DELETE FROM            [Owid Covid Data]
WHERE        (ContinentId IS NULL) OR
                         (CountriesId IS NULL) OR (CountriesId=0)

DELETE FROM            OwidCountriesData
WHERE        (ContinentId IS NULL) OR
                         (CountriesId IS NULL) OR (CountriesId=0)

## Agregar clave primaria a las tablas de datos

 (No es imprescindible, pero por mejorar la implementación)

In [149]:
BEGIN TRANSACTION
GO
ALTER TABLE dbo.[Owid Covid Data] ADD CONSTRAINT
	[PK_Owid Covid Data] PRIMARY KEY CLUSTERED 
	(
	ContinentId,
	CountriesId,
	date
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.[Owid Covid Data] SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.OwidCountriesData ADD CONSTRAINT
	PK_OwidCountriesData PRIMARY KEY CLUSTERED 
	(
	ContinentId,
	CountriesId
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.OwidCountriesData SET (LOCK_ESCALATION = TABLE)
GO
COMMIT

## Definir la integridad referencial entre las tablas

In [150]:

BEGIN TRANSACTION;
GO

ALTER TABLE [dbo].[Countries] SET(LOCK_ESCALATION = TABLE);
GO

COMMIT;

BEGIN TRANSACTION;
GO

ALTER TABLE [dbo].[Continents] SET(LOCK_ESCALATION = TABLE);
GO

COMMIT;

BEGIN TRANSACTION;
GO

ALTER TABLE [dbo].[Owid Covid Data]
ADD CONSTRAINT [FK_Owid Covid Data_Continents] FOREIGN KEY([ContinentId]) REFERENCES [dbo].[Continents](
    [Id]) ON UPDATE NO ACTION ON DELETE NO ACTION;
GO

ALTER TABLE [dbo].[Owid Covid Data]
ADD CONSTRAINT [FK_Owid Covid Data_Countries] FOREIGN KEY([CountriesId]) REFERENCES [dbo].[Countries](
    [Id]) ON UPDATE NO ACTION ON DELETE NO ACTION;
GO

ALTER TABLE [dbo].[Owid Covid Data] SET(LOCK_ESCALATION = TABLE);
GO

COMMIT;

BEGIN TRANSACTION;
GO

ALTER TABLE [dbo].[OwidCountriesData]
ADD CONSTRAINT [FK_OwidCountriesData_Continents] FOREIGN KEY([ContinentId]) REFERENCES [dbo].[Continents](
    [Id]) ON UPDATE NO ACTION ON DELETE NO ACTION;
GO

ALTER TABLE [dbo].[OwidCountriesData]
ADD CONSTRAINT [FK_OwidCountriesData_Countries] FOREIGN KEY([CountriesId]) REFERENCES [dbo].[Countries](
    [Id]) ON UPDATE NO ACTION ON DELETE NO ACTION;
GO

ALTER TABLE [dbo].[OwidCountriesData] SET(LOCK_ESCALATION = TABLE);
GO

COMMIT;

## Esquema final.

![Schema](https://universidadnetdotes.files.wordpress.com/2021/06/demosdbschema.png)